body {
  background-color: ghostwhite;
  font-family: 'Roboto Condensed', sans-serif;
}

#titlecont {
 text-align: center; 
}
#lanya {
  text-align: center
}

#title {
  text-align: center;
  border: solid 5px red;
  border-radius: 50px;
}

.disc {
  text-align: center;
}

.right {
  float: right;
}

.righttitle {
  text-align: right;
}

h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.5em;
  color: #333;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  color: #00008b;
}

#tabs {
  text-align: center;
  margin: 20px 0;
  border-bottom: 2px solid #ccc;
}

.tab-link {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #555;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.5em;
  margin: 0 5px;
  border: 1px solid transparent;
  border-bottom: none;
}

.tab-link:hover {
  color: #000;
}

.tab-link.active {
  color: red;
  border-color: #ccc;
  border-radius: 5px 5px 0 0;
  background-color: #fff;
  border-bottom: 2px solid red;
  margin-bottom: -2px;
}

.tab-content {
  clear: both;
  padding-top: 20px;
}

#videos-content {
  display: block;
}

#posts-content {
  display: none;
  text-align: center;
}

#postimg {
  height: 300px;
} 

#scrolls-content {
  width: 50px;
  text-align: center;
} 
