body {
  background-color: ghostwhite;
  font-family: 'Roboto Condensed', sans-serif;
}

#titlecont {
 text-align: center; 
}
#lanya {
  text-align: center
}

#title {
  text-align: center;
  border: solid 5px red;
  border-radius: 50px;
}

.disc {
  text-align: center;
}

.right {
  float: right;
}

.righttitle {
  text-align: right;
}

h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.5em;
  color: #333;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  color: #00008b;
}

#posts-tab {
  clear: both;
  text-align: center;
  padding-top: 20px;
  margin-top: 30px;
  border-top: 2px solid #ccc;
}
